body {
    background-color:rgb(176,149,130);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 2rem;
}
.portada {
    height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;
}
.main {
    display: flex;
}
.texto {
    font-size: 1.2rem;
}